*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 60px;
}

h1{
    text-align: center;
}

h1 img{
    width: 60%;
}
nav{
    display: flex;
    align-items: center;
    height: 41px;
    background-color:#3d454a ;
}

/*Menús y submenús*/
.dropdownmenu ul{
    list-style: none;
    position: absolute;
    max-width: 100%;
    
    
    
}
.dropdownmenu ul, .dropdownmenu li{
    margin: 0px;
    padding:0px;
}



.dropdownmenu li{
    float:left;
    position:relative;
    
}

.dropdownmenu li:nth-child(2){
    width: 292px;
}
.dropdownmenu a{
    background-color: #3d454a;
    color:white;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 46px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a{
    background-color: black;
}
#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index:1;
}
li:hover ul#submenu{
    opacity: 1;
    top: 40px;
    padding: 0%;
    visibility: visible;
    width: 400px;
}
#submenu a:hover{

    background: orange;
   
}
#submenu li{
    background-color: black;
    width: 200px;
    list-style: none;

}

#submenu li a{
    margin:0px;
    width: 200px;
}

/*Fin al Menú*/
/*Sin float*/
table{
    height: 100vh;
    width: 100%;
   
}

td img{
    width: 90%;
    border-radius: 9%;
}

td{
    text-align: center;
}

/*Con float*/

div {
    padding-top: 15px;
    float: left;
    text-align: center;
}

div img{
    width: 260px;
    border-radius: 9%;
    height: 260px;
    
}
div a{
    
    padding: 10px;
}
/* Pie de página */
footer {
    background-color: #f4f4f9;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    bottom: 0;
    width: 100%;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

  