body {

  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: grid;
  grid-template-areas: 
    "header"
    "nav "
    "titulo"
    "div "
    "main "
    "footer ";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  gap: 10px;

}
header {
  grid-area: header;
  width: 100%;
  text-align: center;
}
/* Imagen del titulo */
h1 img{
  width: 60%;
  
}
/*Titulos*/
h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #2c3e50;
}

/*Menús y submenús*/

nav {
  grid-area:nav;
  background: white;
  
 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav li {
  position: relative;
}

nav li:nth-child(1) a { border-color: #e5243b; } 
nav li:nth-child(2) > a { border-color: #dda63a; } 
nav li:nth-child(3) a { border-color: #4c9f38; } 
nav li:nth-child(4) a { border-color: #3f7e44; } 

nav a {
  
  display: block;
  width: 180px; 
  text-align: center;
  padding: 16px 0;
  text-decoration: none;
  font-weight: 600;
  color: #444;
  transition: 0.3s ease-in-out;
  border-top: 4px solid transparent;
}

nav a:hover {
  color: #0077c8;
  background: #f0f0f0;
  border-top: 4px solid #0077c8;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
}

nav li:hover > ul {
  display: flex;
  background-color: #e3f2fd;
}

nav ul ul a {
  padding: 12px 0;
  color: #333;
  border-top: none;
  
}

nav ul ul a:hover {
  background: #e3f2fd;
  color: #0077c8;
  
}

/*Fin al Menú */
.titulo{
  grid-area: titulo;
  text-align: center;
  padding: 1rem;
}

div {

  grid-area: div;
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em 0 2em;
  padding: 0;
  height: fit-content;
  display: flex;
  justify-content:center;
  
  
}

div ul {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  width:100%;
  padding: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  
}

div li {
  width: 50px;
  padding: 1em;
  margin: 0.5em;
  

}

div a {
  text-decoration: none;
  font-weight: 500;
  color: #2c3e50;
  transition: color 0.3s, transform 0.2s;
}

div a:hover {
  color: #0077c8;
  
}

main {
  grid-area: main;
  padding: 1rem;
}
.grid-contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  padding: 2rem;
}


.grid-contenido section {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  text-align: center;
 
}


.grid-contenido section:hover {
  transform: scale(1.02);
}
.grid-contenido section:nth-child(2){
  grid-row: span 3;
}
.grid-contenido section:nth-child(2) img{
  width: 25%;
}
/*Estilo de la tabla que hay dentro del 4.2 y 4.4.*/
.grid-contenido section table{
  padding: 0;
  margin:3%
}
.grid-contenido section th{
  color:white;

  background-color: rgb(111, 177, 222);
}
.grid-contenido section td{
  background-color: rgb(160, 208, 241);
}
/*Estilos de las listas*/
.grid-contenido section li{
  text-align: start;
}

/*Pie de pagina*/
footer {
  grid-area: footer;
  background-color: #f4f4f9;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

/*Responsive*/
@media (max-width: 1100px) {
  
  .grid-contenido {
    grid-template-columns: 1fr;
  }
  
}


@media (min-width: 1100px) and (max-width:1400px){
  .grid-contenido {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-contenido section:nth-child(2){
    grid-row: span 6;
  }
} 



